@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    background-image:url("../resources/images/loginBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    background: black;
    padding: 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    opacity: 90%;
}
.login-container h1 {
    margin-top: -50px;
    margin-bottom: 60px;
    color: white;
    font-size: 80px;

}
.login-container input {
    width: 300px;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}
.login-container button {
    width: 150px;
    height: 50px;
    padding: 10px;
    background: #0c2567;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}
.login-container button:hover {
    background: #0f1a6c;
}
.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}
.login-container h3{
    font-size: 15px;
    color: white;
}
.login-container a{
    width: 100px;
    height: 40px;
}